* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151525;
  font-family: sans-serif;
  font-weight: bold;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  padding: 1rem;
}

#level-1 {
  position: absolute;
  background-color: orange;
  width: 300px;
  height: 300px;
  z-index: 8;
}

#level-2 {
  position: absolute;
  background-color: khaki;
  width: 200px;
  height: 200px;
  z-index: 9;
}

#level-3 {
  position: absolute;
  background-color: skyblue;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.current-target {
  border-radius: 100%;
}

.smooth-animation {
  transition: all 250ms ease-in-out;
}
